body{
	margin-top: 20px;
	margin-left: 40px;
}

#canvas{
	margin-top: 20px;
}

.row{
	display: flex;
	flex-direction: row;
}

.cell{
	width: 20px;
	height: 20px;
	border: 1px solid #c2c2c2;
}

.cell.wall{
	background-color: black;
}

.cell.start{
	background-color: green !important;
}

.cell.end{
	background-color: red;
}

.cell.visited{
	background-color: blue;
}

.cell.path{
	background-color: yellow;
}